<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%-10t] %-5level %-36logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="OFF">
            <AppenderRef ref="Console"/>
        </Root>
<!--        OFF	    0-->
<!--        FATAL	100-->
<!--        ERROR	200-->
<!--        WARN	300-->
<!--        INFO	400-->
<!--        DEBUG	500-->
<!--        TRACE	600-->
<!--        ALL		Integer.MAX_VALUE  -->
    </Loggers>
</Configuration>